<h2>Welcome to Dominos!</h2>
<p>Just follow the below instructions to order a pizza.</p>

<h3>POST API Call</h3>

<p>You would need a URL for the post endpoint and few key value pairs as part of the post body</p>

URL: http://ec2-35-163-216-254.us-west-2.compute.amazonaws.com:8080/api/pizza/order
</br>
</br>
Header: Content-Type: application/x-www-form-urlencoded
</br>
</br>
POST Body:   name=sharath  &nbsp &nbsp   crust=cheese burst   &nbsp&nbsp  type=farm fresh &nbsp&nbsp   size=medium  &nbsp&nbsp   extraToppings=tomato,mushroom
</br>
</br>